body {
    background: rgb(0,54,77);
    background: linear-gradient(277deg, rgba(0,54,77,1) 0%, rgba(4,94,131,1) 21%, rgba(5,143,200,1) 36%, rgba(4,146,205,1) 52%, rgba(0,113,161,1) 70%, rgba(2,68,96,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    height: 660px;
    margin: 0;
    padding: 0;
  }
  
  header {
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 20px;
  }
    
  main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  