body {
    margin: 0px 10px;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-transform: capitalize;
    background-color: rgba(56, 56, 56, 0.24);
    color: #fff;
  }
  
  footer {
    margin: 10px; 
    text-transform: capitalize;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .social-icons a {
    color: #fff;
    font-size: 34px;
    margin-right: 25px;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #007bff;
  }
  
  .personal-info {
    text-align: right;
    text-transform: capitalize;
  }
  
  .personal-info p {
    margin: 5px 0;
  }
  .foot-dev{
    font-size: 20px;
    position: absolute;
    right: 550px;
  }