body{
  background: rgb(0,0,0);
    background: linear-gradient(277deg, rgba(0,0,0,1) 0%, rgba(0,28,40,1) 47%, rgba(0,0,0,1) 100%);
  font-family: Arial, Helvetica, sans-serif;
    

}
body::-webkit-scrollbar{
    display: none;
}



.bod {
    overflow-x: hidden;
    background-color: transparent;
    margin-left: 100px;
    margin-right: 60px;

}
.bod-port {
    display: flex;
    width: 100%;

}
.bod-port img{
    position: absolute;
    top: -30px;
    left: 150px;
    height: 450px;
    margin-left: 60%;
    opacity: 80%;
    
}

.image {
    float: right;
    align-items: right;

}
.name h1{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color:  white;
    margin-top: 50px;
}
.wd {
    color: #01acf3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 37px;
    margin-top: 15px;
}
.summary {
    color: #fff;
    font-size: medium;
    line-height: 1.5;
    font-size: 27px;
}
.projects {
    margin-top: 10%;
    font-family: Arial, Helvetica, sans-serif;
    
}
p.Myp{
    margin: 50px;
    padding: 10px;
    color: white;
    font-size: 30px;
}

.website {
    text-decoration: none;
    font-size: 20px;
    text-align: start;
}
.website:hover {
    color: #01acf3;
    transition:.4s ease;
    background-color: black;
    border-radius: 120px;
    box-shadow: 15px solid white;
}




/* my button */
button {
  width: 165px;
  height: 62px;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  border-radius: 1rem;
  border: none;
  position: relative;
  top: 20px;
  left: 30px;
  background: #100720;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

button::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
  -webkit-filter: blur(15px);
          filter: blur(15px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

button:active {
  -webkit-transform: scale(0.9) rotate(3deg);
      -ms-transform: scale(0.9) rotate(3deg);
          transform: scale(0.9) rotate(3deg);
  background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
  -webkit-transition: 0.5s;
  transition: 0.5s;
}







.skill-section {
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}



/* my projects in website */


  .projects-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    overflow: hidden; 
  }
  
  .project {
    width: 32%;
    height:350px;
    border: 1px solid black;
    border-radius: 25px;
    overflow: hidden;
    text-align: center;
    
    background-color: rgb(35, 39, 43);
    transition: transform 0.3s ease;
  }
  
  .project img {
    width: 100%;
    display: block;
    transform: scale(1);
    transition: transform 0.3s ease;
  }
  
  .project:hover {
    transform: scale(1);
  }
  
  .project:nth-child(2) {
    margin-top: -230px; /* Adjust this value to position the middle project higher */
  }
  
  .project:hover img {
      
    transform: scale(1.1);
  }
  

  .my_project_name{
    font-size: 30px;
    position: relative;
    top: 60px;
    left: auto;
    text-align: center;
  }
  
  
  
  #PRO{
      font-family: 'Arial', sans-serif;
      color:#fff;
      font-size:40px;
      line-height:60px;
      text-transform: uppercase;
      position: relative;
      top: 130px;
  }
  .project p{
      font-family: 'Arial', sans-serif; 
      color:#fff;
      font-size:40px;
      line-height:15px;
      text-shadow: 0 0 10px rgba(255,255,255,.5),
      0 0 20px rgba(255,255,255,.5),
  
  }

  #project-description{
    position: relative;
    top: -150px;
  }
  .project-details{
      position: relative;
      top: 10px;
      font-family: 'Arial', sans-serif;
      line-height: 30px;
      font-size: 22px;
  }



  h1.skills {
    text-align: center;
    position: relative;
    top: -180px;
  }
  .icons {
    position: relative;
    top: -180px;
    text-align: center;
    justify-content: center;
}
.tools {
    margin: 30px;
}
ul.icon li {
    display: inline-block;
    font-size: 50px;
    margin-top: 10px;
    padding: 25px;
    /* padding-top: 10px; */
    /* transition: font 0.3s ease;
    transition: padding 0.3s ease; */
    
}
ul.icon li i{
    display: flex;
    
    transition: background-color 0.3s ease;
    /* transition: padding 0.3s ease; */
}
ul.icon li:hover {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 65px;
    margin-top: 0px;
    /* padding-top: 0px; */
    padding: 16px;
    /* transition: padding 0.3s ease; */

}
ul.icon li i:hover .tools{
    padding: 0px;
    margin: 5px;

}