body {
  background-color: rgba(255, 255, 255, 0.4);
  
  font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 90px;
    margin-left:70px;
    margin-right: 40px;
    display: flex;
    align-items: center;
}


/* my name hover with some animations */

.name-container a{
   position: relative; 
   display:inline-flex;
   text-decoration: none;
   text-transform: uppercase;
   align-items: center;
}
.Azeez {
    color:white;
    font-size: 20px;
    
}

.Ahmed {
    text-transform: uppercase;
    font-size: 20px;
   color: #fff;
   -webkit-background-clip: text;
   background-clip: text;
  
   -webkit-clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
   clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
   transition: clip-path 1s .1s ease-out;
 }
 
 .name-container:hover .Ahmed {
   /* Set clip-path for visible text */
   -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
 }
 




    .menu {
        text-align: center;
        align-items: center;
        float: right;
        
    }
    .menu a {
        text-decoration: none;
        color:white;
        font-size: 15px;
        padding:1px;
        
        border-radius: 120px;
    }
    .menu a:hover{
        color: #01acf3;
        font-size: 16px;
        transition:.4s ease;
        background-color: black;
        border-radius: 120px;
    }


.navb{
  display: inline;
  padding-right: 1px;
  width: 100%;
  text-align: right;
  float: right;
}

.menu-icon {
    display: inline-block;
    width: 60px;
    justify-content: right;
    text-align: right;
    height: 25px;
    cursor: pointer;
    position: relative;
  }

  .line {
    
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    transition: transform 0.4s ease-in-out;
  }

  .line:nth-child(1) {
    top: 0;
  }

  .line:nth-child(2) {
    top: 11px;
  }

  .line:nth-child(3) {
    bottom: 0;
  }

  .menu-icon.cross .line:nth-child(1) {
    transform: translateY(10px) rotate(25deg);
  }

  .menu-icon.cross .line:nth-child(2) {
    transform: scaleX(0);
  }

  .menu-icon.cross .line:nth-child(3) {
    transform: translateY(-12px) rotate(-25deg);
  }

  






  .my-port h1 a{
    text-decoration: none;
    display: block;
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
    margin: 40px 100px;
    padding: 3px;
    text-align: end;
  }
  h1 {
    font-size: 34px;
    margin-bottom: 20px;
  }

  .my-port h1 a:hover{
    color: #01acf3;
    font-size: 40px;
    padding: 0px;
  }