
.navbar{
    
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 20px 0px;
    display: flex;
    background-color: rgba(20, 19, 19, 0.3);
}


/* my name hover with some animations */

.name-container a{
   position: relative; 
   display:inline-flex;
   text-decoration: none;
   text-transform: uppercase;
   align-items: center;
   margin: 30px;
}
.Azeez {
    color:white;
    font-size: 16px;
    
}

.Ahmed {
    text-transform: uppercase;
    font-size: 16px;
   color: #fff;
   -webkit-background-clip: text;
   background-clip: text;
  
   -webkit-clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
   clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
   transition: clip-path 1s .1s ease-out;
 }
 
 .name-container:hover .Ahmed {
   /* Set clip-path for visible text */
   -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
 }
 









.nav {
    /* display: inline-block; */
    text-align: end;
    float: left;
    margin: 35px;
    width: 100%;
    
}
.nav a {
    text-decoration: none;
    color:white;
    font-size: 15px;
    padding:30px;
    
    border-radius: 120px;
}
.nav a:hover{
    color: #01acf3;
    font-size: 16px;
    transition:.4s ease;
    background-color: black;
    border-radius: 120px;
}